* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-form {
  background-color: #fff;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 14px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form h2 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #4caf50;
}

.form {
  padding: 18px;
}

.form-content {
  margin-bottom: 8px;
  padding-bottom: 18px;
  position: relative;
}

.form-content label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: bold;
  color: #333;
}

.form-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;

  
}

.form-content input:focus {
  outline: none;
  border-color: #4caf50;
}

.form-content a {
  position: absolute;
  bottom: -3px;
  left: 0;
  visibility: hidden;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.3s;    
}

.btn:hover {
  background-color: #45a049;
}

.form-content.error input {
  border-color: red;
}

.form-content.error a {
  color: red;
  font-size: 0.9rem;
  display: block;
  visibility: visible;
}


.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}

.register-link a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}