*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

footer {
    background-color: #4caf50;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
   
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.content p {
   margin: 0;
   font-weight: bold;
   padding: 0 10px;
}


.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
    border-radius: 5px;
    transition: background-color 0.3s;;
}

.social-icons a:hover {
    background-color: #45a049;
}