*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ddd;
}

html{
    scroll-behavior: smooth;
}

/* INICIO HEADER */

.nave{
    background-color: #4b4be2;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list img{
    height: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
}


.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 24px;
    margin-left: 24px;
    
}

.nav-list a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
    font-weight: bold;
    
}

.nav-list a:hover{
    color: #ffff;
}

/* FIM HEADER */

/* INICIO MAIN */

.main{
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url("/assets/saude-2.webp");
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1{
    color: #000;
    font-size: 54px;
}

.main p{
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 35px;
}

.coll-to-action{
    cursor: pointer;
    background-color: #ffff;
    border: 1px solid #181818;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}

.coll-to-action:hover{
    transform: scale(1.1);
    background-color: #0a0ad3;
    color: #fff;
}

.main a{
    text-decoration: none;
}

/* FIM MAIN */


.about{
    background-color: #ffff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about img{
    max-width: 500px;
    border-radius: 8px;
}

.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}

.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px 0;
   

}

.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p{
    margin-bottom: 40px;
    font-style: italic;
}

.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-list img{
    width: 22%;
    margin-left: 0.5px;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}

.project-list img:hover{
    opacity: 1;
}

.action{
    background-color: #fff;
    border: 1px solid #181818;
    padding: 12px 44px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #181818;
    margin-top: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.8s;
}

.action:hover{
    background-color: #0a0ad3;
    color: #fff;
    transform: scale(1.1);
}

footer{
    width: 100%;
    background-color: #0326c4fd;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #fff;
    
    
}

footer h3{
    font-weight: bold;
}

footer p{
    margin-top: 5px;
   
}


