*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* INICIO HEADER */

.nave{
    background-color: #4b4be2;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nave img{
    height: 80%;
    padding-top: 15px;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 24px;
    margin-left: 24px;
    
}

.nav-list a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    
}

.nav-list a:hover{
    color: #ffff;
}

/* FIM HEADER */